<div class="user">
  <div class="user-image-profile">
    <%= image_tag("#{@user.image}")%>
  </div>
  <div class="user-name-profile">
    <h3><%= @user.user_name %></h3>
  </div>
</div>

</br>

<%= render partial: "boards/flash" %>
<%= render partial: "boards/boards_form" %>
