<%= render partial: "boards/flash" %>
<%= render partial: "boards/board_form", locals: {board: @board} %>
<%= render partial: "comments/comment_form", locals: {comment: @comment }%>

<div class="p-comment__list">
  <div class="p-comment__listTitle">コメント</div>
  <%= render @board.comments %>
</div>
