.boards__table{
  tr:hover{
    cursor: pointer;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.boards__linkBox{
  margin: 30px 8px;
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

// 掲示板画面
.card-header{
h3{
  margin: 15px 0;
}
h6{
  font-size: 0.7rem;
}
a{
  float: right;
  margin: 0 10px;
}}

.card-body p{
  margin: 0 0;
}

.card-footer{
  height: 70px;
}

.card-footer p{
  margin: 10px 0;
  float: left;
}

.user{
  position: relative;
  height: 80px;
}

.user-image-index {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
}

.user-image-index img{
  width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.board-name-index{
  display: inline-block;
  width: 120px;
}

.user-image-show {
  width: 50px;
  height: 50px;
  float: right;
}

.user-image-show img{
  width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.user-image-header {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.user-image-header img{
  width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.category-image{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.category-image img{
	height: 40px;
}

.category-name{
  display: inline-block;
  width: 150px;
}
