.boards__table{
  tr:hover{
    cursor: pointer;
  }
}

.boards__linkBox{
  margin: 30px 8px;
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}

// 掲示板画面
.card-header{
h3{
  margin: 15px 0;
}
h6{
  font-size: 0.7rem;
}
a{
  float: right;
  margin: 0 10px;
}}

.card-body p{
  margin: 0 0;
}

.card-footer p{
  margin: 0 0;
}

.user{
  position: relative;
  height: 80px;
}

.user-image{
  width: 50px;
  height: 50px;
  padding: 15px 70px;
  float: left;
  height: auto;
}
.user-name{
  height: 80px;
  padding: 25px 20px;
}

.user-name h3{
  margin: 0;
}

.user-image img{
  width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
